<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpO5aSVgnNg2kfWk_H3b4TSyIA_ogFcxE</string>
	<key>GCM_SENDER_ID</key>
	<string>795826839182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hamCertificator</string>
	<key>PROJECT_ID</key>
	<string>ham-certificator</string>
	<key>STORAGE_BUCKET</key>
	<string>ham-certificator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795826839182:ios:b3a3414b7de9aabbb473df</string>
</dict>
</plist>